body {
  font-family: 'Satoshi', sans-serif;                                           
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  }

#header{
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    
      z-index: 1000;
    
  }

  @media (max-width: 576px) {
  .fade-image {
    transition: opacity 2s ease; 
  }

  .image-hidden {
    opacity: 0;
  }
  }

 
  .fade-text {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: type 3s steps(20) forwards, blink-caret 0.75s step-end infinite;
    margin: 0 auto; 
  }

  @keyframes type {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

   .footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
      
  }

  .footer {
    display: flex; /* Mengatur elemen footer menggunakan display flex */
    justify-content: space-between; /* Menyusun elemen dengan sejumlah ruang yang sama antara elemen */
    align-items: center; /* Memastikan elemen footer sejajar */
  }
  
  .time {
    margin-left: 9rem; /* Memberikan margin otomatis di sebelah kiri elemen 'time' */
  }


 .sejajar {
    text-align: justify;
  }


  .fixed-size {
    height: 30px;
    overflow: hidden;
}

#collapse16animali {
  margin-left: 20px; 
  margin-bottom: 10px;
  margin-top: -10px;
}

#works-link {
  display: block;
  padding: 0; 
  margin: 0;  
}

#collapseExample {
  margin-left: 20px; 

}


@media (min-width: 576px) {
.roll-out {
  opacity: 0; 
  transform: translateX(-50px); 
  transition: opacity 1s ease, transform 1s ease; 
}

.roll-out.visible {
  opacity: 1; 
  transform: translateY(0); 
}
}
