body {
   font-family: "Plus Jakarta Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 200;
   font-style: normal;
  }

#header{
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    
      z-index: 1000;
    
  }

  .fade-image {
    transition: opacity 3s ease; 
  }

  .image-hidden {
    opacity: 0.5;
  }

 
  .fade-text {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: type 3s steps(20) forwards, blink-caret 0.75s step-end infinite;
    margin: 0 auto; 
  }

  @keyframes type {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

   .footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
      
  }

  .footer .date {
    float: left;
    padding-right: 100px;
  }
  .footer .time {
  
    float: right;
  }

 .sejajar {
    text-align: justify;
  }


  .fixed-size {
    height: 30px;
    overflow: hidden;
}
